form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.form-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 450px;
  height: 60px;
  padding: 8px 20px;
  border: 1px solid hsl(227, 100%, 93%);
  border-radius: 10px;
  background: #FFFFFF;
}

.icon {
  display: flex;
  gap: 8px;
}

input {
  border: none;
  line-height: 22px;
  width: 369px;
  height: 44px;
  color: #3B3B3B;
}

input:focus {
  outline: none;
}

#username-err {
  display: block;
  width: 450px;
}

.btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 60px;
  line-height: 140%;
  background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
  box-shadow: 0px 6px 18px #9CADF2;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 50px;
}

@media (max-width: 375px) {
  .form-item {
    width: 315px;
  }

  #username-err {
    width: 315px;
  }

  .btn {
    width: 315px;
  }
}